<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="bitwarden" />
  <package id="chocolateygui" />
  <package id="f.lux" />
  <package id="firefox" />
  <package id="googlechrome" />
  <package id="nextcloud-client" />
  <package id="office365proplus" />
  <package id="spotify" />
  <package id="teamviewer" />
  <package id="vlc" />
  <package id="zoom" />
</packages>